body {
	font-size: 16px;
	color: #fff;
	background-color: #8d8741;
	font-family: Cambria, sans-serif;
}

#header-nav {
	background-color: #5D5C73;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	font-family: Cambria, serif;
	color: #190000;
	font-size: 1.8em;
	font-weight: bold;
  	margin: auto;
}

.navbar-brand a:hover, .navbar-brand a:focus {	
	text-decoration: none;
}

#nav-list a {
	color: #000;
    font-weight: bold;
	text-align: center;
}

#nav-list li {
  margin: 5px;
}

#nav-list a:hover {
	background-color: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #190061;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

#main-content h2 {
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

#sections div {
  width: 100%;  
  overflow: auto;
  margin-bottom: 30px;
  padding: 15px;
  border: 3px solid #5D5C61;
  background-color: #daad86;
  color: black;
}

#sections h3 {
  font-weight: bold;
  margin-top: -5px;
}


/* Large devices */
@media (min-width: 1200px) {
  
  #header-nav {
    height: 70px;
  }

}


/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
	
	#header-nav {
    height: 70px;
  }

}


/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
  
  #header-nav {
    height: 70px;
  }

}


/* Extra small devices */
@media (max-width: 767px) {
	
  .navbar-brand {
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1 {  
		padding-top: 10px;
		font-size: 5vw; 
	}

	#collapsable-nav a {
		font-size: 1.3em;
	}

	#collapsable-nav {
		background-color: #daad86;
	}

  #menu-tile, #specials-tile {
  	width: 360px;
  	margin: 0 auto 15px auto;
  }

}
